/* Colors */
$primary-color: #ff5c3e; // Red
$primary-color-dark: #fe4421; // Darker red for hover/active states
$secondary-color: #4d4f53; // Dark grey

/* Media query sizes */
$tablet-width: 768px;

/* Media queries */
@mixin tablet {
  @media only screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

/* 'Back' link with left arrow icon */
.back {
  background: url("/images/arrow-left.png") no-repeat center left;
  color: $primary-color;
  cursor: pointer;
  padding-left: 30px;
}

.back:hover {
  color: $primary-color-dark;
}
