/* Splash */

.splash {
  background: no-repeat url("../images/splash.jpg");
  background-size: cover;
  height: 800px;
  padding: 30px 15px;
  text-align: center;
}

.splash__title {
  color: #fff;
  font-weight: bold;
  margin-top: 0;
}


.splash__logo-container {
  background: #fff;
  padding: 10px 10px 30px;
}

.splash__logo {
  max-width: 100%;
  height: auto;
  padding: 10px 30px;
}


/* Highlight */

.highlight {
  background: #efefef;
  padding: 5px;
}

.highlight__title {
  margin-top: 15px;
  text-align: center;
}

.highlight__more {
  text-align: right;
}

@include tablet {
  .splash {
    height: auto;
  }
  .splash__logo {
    padding: 0;
  }
}
