.search-form {
  margin: 30px auto 0;
  text-align: center;

  .button {
    font-weight: 400;
    min-width: 115px;
    text-transform: uppercase;
  }
}

.search-form__query {
  display: block;
  font-size: 25px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  border: 3px solid $primary-color;
}

.search-form__query_location {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}

.search-form__query_purpose {
  display: block;
  font-size: 14px;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

.search-form__location_label, .search-form__purpose_label {
  background-color: rgba(77, 79, 83, 0.7);
  color: rgb(200, 200, 200);
  font-size: 18px;
  height: 100%;
  padding: 15px 0;
  width: 100%;
}

.search-form__button,
a.search-form__button:link,
a.search-form__button:visited {
  border-radius: 0;
  color: #000;
}

.button--search {
  margin-right: 20px;
}

.search-field {
  border: 0;
  display: inline-block;
  font-size: 25px;
  margin: 0 0 20px;
  padding: 12px;
  width: 100%;
}

.search-near-label {
  background-color: $primary-color;
  border: 0;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}

.search-location-field {
  border: 0;
  border-radius: 0 3px 3px 0;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 15px;
  padding: 10px;
  width: 50%;
}

.search-button:hover {
  background-color: $primary-color-dark;
}

.search-more-options-container {
  margin-top: 15px;
}

.search-more-options-button {
  background-color: rgba(77, 79, 83, 0.7);
  color: rgb(150, 150, 150);
  cursor: pointer;
  font-size: 16px;
  padding: 5px;

  &:hover,
  &:focus {
    color: rgb(200, 200, 200);
  }
}

/**
 * Mobile (smaller than iPad)
 */
@include tablet {
  .search-form {
    margin: 10px auto 0;
    width: auto;
  }

  .search-field {
    padding-right: 12px;
  }

  .search__field-button {
    border: 0;
    height: auto;
    width: auto;

    .button--search {
      display: block;
      margin: 20px auto 0;
      padding: 10px 12px;
      position: static;
      width: auto;
    }
  }
}
