/* Results */

.search-results {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-result {
  border-bottom: 1px solid $primary-color-dark;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.search-result:last-child {
  border: 0;
}

.searchresults-component {
  .pagination-container {
    text-align: center;

    .selected a {
      background-color: #eee;
    }

    .disabled a {
      color: #777;

      &:hover,
      &:focus {
        color: #777;
        text-decoration: none;
      }
    }

    a {
      color: #ff5c3e;
      cursor: pointer;

      &:hover,
      &:focus {
        color: #ff5c3e;
        text-decoration: underline;
      }
    }
  }
}
