.locationdisambiguation-component {
  background: rgba(77,79,83,.7);
  color: white;
  padding-left: 20px;
  text-align: left;

  .location-name {
    margin-bottom: 8px;
  }

  a {
    &:link,
    &:visited,
    &.back {
      color: #fff;
      text-decoration: underline;
    }
  }
}
